h1 {
    display: flex;
    background: #1f2937;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 20px;
    margin: auto;
}

button {
    background-color: rgb(184, 184, 184);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border-color: black;
    border-width: 1px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    
}

.content { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgb(163, 162, 162);
    margin: 80px 80px;
    flex-direction: column;
    display: flex;
    height: 400px;
    width: 400px;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    display: grid;
}


body {
    margin: auto;
    background-color: rgb(184, 184, 184);
}

.row {
    color: red;
    flex: auto;
    display: flex;
    background-color:white;
    height: auto;
}

.square {
    flex: auto;
    background-color: white;
}

.hover-color {
    background-color: black;
}
